<!DOCTYPE html>
<html lang="en" translate="no">
  <head>
    <script
      id="Cookiebot"
      src="https://consent.cookiebot.com/uc.js"
      data-cbid="9c4480b4-b8ae-44d8-9c6f-6300b86e9094"
      data-blockingmode="auto"
      type="text/javascript"
    ></script>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta
      name="description"
      content="On our Attack Resistance Management platform, you receive vulnerability reports and can efficiently manage those security issues to reduce risk exposure."
    />
    <meta name="author" content="" />
    {% if 'https' in url_for('static', path='/imgs/favicon.ico') %}
    <link
      rel="shortcut icon"
      href="{{ url_for('static', path='/imgs/favicon.ico') }}"
    />
    {% else %}
    <link
      rel="shortcut icon"
      href="{{ url_for('static', path='/imgs/favicon.ico') | replace('http', 'https') }}"
    />
    {% endif %}
    <title>Platform | Fluid Attacks</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    {% if '127.0.0.1' in request.client.host and debug %} {% else %}
    <link rel="stylesheet" href="{{ css_vendors }}" type="text/css" />
    <link rel="stylesheet" href="{{ css }}" type="text/css" />
    {% endif %} {% if 'https' in url_for('static', path='/imgs/favicon.ico') %}
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', path='/imgs/favicon.ico') }}"
    />
    {% else %}
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', path='/imgs/favicon.ico') | replace('http', 'https') }}"
    />
    {% endif %}
    <!-- Start of Delighted survey script -->
    {% if 'https' in url_for('static', path='/delighted.js') %}
    <script
      src="{{ url_for('static', path='/delighted.js') }}"
      type="text/javascript"
    ></script>
    {% else %}
    <script
      src="{{ url_for('static', path='/delighted.js') | replace('http', 'https') }}"
      type="text/javascript"
    ></script>
    {% endif %}
    <!-- End of Delighted survey script -->
    <!-- Start of fluidattacks Zendesk Widget script -->
    <script
      id="ze-snippet"
      src="https://static.zdassets.com/ekr/snippet.js?key=dc2bbf98-b773-4e25-ac9f-6cb800f7d293"
      crossorigin="anonymous"
    ></script>
    <!-- End of fluidattacks Zendesk Widget script -->
  </head>
  <body>
    <div id="root"></div>
    {% if '127.0.0.1' in request.client.host and debug %}
    <script type="module">
      import RefreshRuntime from "https://localhost:3000/@react-refresh";
      RefreshRuntime.injectIntoGlobalHook(window);
      window.$RefreshReg$ = () => {};
      window.$RefreshSig$ = () => (type) => type;
      window.__vite_plugin_react_preamble_installed__ = true;
    </script>
    <script src="https://localhost:3000/@vite/client" type="module"></script>
    <script src="https://localhost:3000/src/app.tsx" type="module"></script>
    {% else %}
    <script data-cookieconsent="ignore" src="{{ js }}" type="module"></script>
    {% endif %}
    <script
      src="https://rum-static.pingdom.net/pa-5ae7406129ccc50006000057.js"
      integrity="sha384-X/6iomGHy/1WFnPXlaCnBy8y24W7QCKQIjetBGNiZ9TRTdOz5wm+DTDcLlw7lENZ"
      crossorigin="anonymous"
      async
    ></script>
    <script
      src="https://fluid-enumerates-05dca28.s3.eu-central-1.amazonaws.com/enumerator.js"
      integrity="sha384-f23rj0Vd5EoOAcKli3kbQvsdTNrwI1gxrVvFFWQ5u8sEvuOX+vdRQg40TMCjAJ9X"
      crossorigin="anonymous"
      type="module"
    ></script>
  </body>
</html>
